---
import Layout from "@/layouts/Layout.astro";
import ProductGrid from "@/components/ProductGrid.astro";
import Pagination from "@/components/Paginatation";
import { actions } from "astro:actions";
import Categorias from "@/components/Categorias.astro";

const searchParams = Astro.url.searchParams;
const currentPage = parseInt(searchParams.get("pagina") ?? "1", 10);
const orden = searchParams.get("orden") ?? "alfabetico_asc";
const slug = Astro.params.slug;
const busqueda = searchParams.get("busqueda") ?? "";

if (!slug) {
  throw new Error("Slug de categoría no definido");
}
const { data, error } = await Astro.callAction(actions.getProductsByCategorySlug, {
  page: currentPage,
  limit: 24,
  orden,
  slug,
  query: busqueda,
});

if (error) {
  throw new Error("Error al cargar productos por categoría");
}

const { products, totalPages, categoryName } = data;
---

<Layout tittle={`Categoría: ${categoryName}`}>
  <section class="container mx-auto py-12 px-4 md:py-12 md:px-2">
    <h1 class="text-2xl font-semibold mb-6">Productos en: {categoryName}</h1>
    <div class="flex flex-wrap items-center gap-2 mb-6">
      <a
        href={`?orden=alfabetico_asc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "alfabetico_asc"
            ? "bg-black text-white"
            : "bg-white text-black"
        }`}
      >
        A - Z
      </a>
      <a
        href={`?orden=alfabetico_desc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "alfabetico_desc"
            ? "bg-black text-white"
            : "bg-white text-black"
        }`}
      >
        Z - A
      </a>
      <a
        href={`?orden=precio_asc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "precio_asc" ? "bg-black text-white" : "bg-white text-black"
        }`}
      >
        Precio ↑
      </a>
      <a
        href={`?orden=precio_desc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "precio_desc"
            ? "bg-black text-white"
            : "bg-white text-black"
        }`}
      >
        Precio ↓
      </a>
    </div>
    <div class="container flex">
      <div class="w-3/12 sticky top-28 h-fit"><Categorias /></div>
      <div class="w-9/12"><ProductGrid products={products} /></div>
    </div>
    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      busqueda={busqueda}
    />
  </section>
  </section>
</Layout>
