---
// src/pages/tienda.astro
import Pagination from "@/components/Paginatation";
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";
import ProductGrid from "@/components/ProductGrid.astro";
import Categorias from "@/components/Categorias.astro";

const searchParams = Astro.url.searchParams;
const currentPage = parseInt(searchParams.get("pagina") ?? "1", 10);
const busqueda = searchParams.get("busqueda") ?? "";
const pageSize = 24;

const orden = searchParams.get("orden") ?? "alfabetico_asc";

const { data, error } = await Astro.callAction(actions.getProductsByPage, {
  page: currentPage,
  limit: pageSize,
  query: busqueda,
  orden,
});

if (error) {
  throw new Error("Error al cargar productos");
}

const { products, totalPages } = data;
---

<Layout tittle="Tienda">
  <!-- Formulario de búsqueda -->
  <!-- <form method="GET" class="mb-4">
    <input
      type="text"
      name="busqueda"
      value={busqueda}
      placeholder="Buscar productos..."
      class="border px-3 py-2 w-full"
    />
    <input type="hidden" name="pagina" value="1" />
    <button type="submit" class="mt-2 px-4 py-2 bg-black text-white">
      Buscar
    </button>
  </form> -->
  <section class="container mx-auto py-2 md:py-12 md:px-2">
    <h1 class="text-2xl font-semibold mb-6">Productos en Tienda</h1>
    <div class="flex flex-wrap items-center gap-2 mb-6">
      <a
        href={`?orden=alfabetico_asc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "alfabetico_asc"
            ? "bg-black text-white"
            : "bg-white text-black"
        }`}
      >
        A - Z
      </a>
      <a
        href={`?orden=alfabetico_desc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "alfabetico_desc"
            ? "bg-black text-white"
            : "bg-white text-black"
        }`}
      >
        Z - A
      </a>
      <a
        href={`?orden=precio_asc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "precio_asc" ? "bg-black text-white" : "bg-white text-black"
        }`}
      >
        Precio ↑
      </a>
      <a
        href={`?orden=precio_desc${busqueda ? `&busqueda=${busqueda}` : ""}`}
        class={`px-3 py-1 rounded border ${
          orden === "precio_desc"
            ? "bg-black text-white"
            : "bg-white text-black"
        }`}
      >
        Precio ↓
      </a>
    </div>
    <div class="container flex">
      <div class="w-3/12"><Categorias /></div>
      <div class="w-9/12"><ProductGrid products={products} /></div>
    </div>
    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      busqueda={busqueda}
    />
  </section>
</Layout>
