---
// src/components/ProductItem.astro
import { calcularPrecioConGanancia } from "@/utils/calcularGanancia";
import { formatPesosArgentinos } from "@/utils/formatcurrency";
import { Image } from "astro:assets";

interface Props {
  product: {
    id: string;
    title: string;
    slug: string;
    mainImage: string;
    finalPrice: number;
    cotizacion: number;
    category: {
      name: string;
    };
  };
}

const { product } = Astro.props;

const precio = formatPesosArgentinos(
  calcularPrecioConGanancia(product.finalPrice * product.cotizacion)
);
---

<a href={`/producto/${product.slug}`} class="border p-2">
  <div transition:name={`product-${product.id}-img`} class="block md:hidden">
    <img
      src={product.mainImage}
      alt={product.title}
      width={200}
      height={200}
      class="w-full h-48 md:h-64 object-contain"
      loading="lazy"
      decoding="async"
      fetchpriority="low"
    />
  </div>

  <h2 transition:name={`title-${product.title}`}>{product.title}</h2>
  <p>{precio}</p>
  <p>{product.category.name}</p>
</a>
