---
// ProductItem.astro
import { calcularPrecioConGanancia } from "@/utils/calcularGanancia";
import { formatPesosArgentinos } from "@/utils/formatcurrency";
import { IoCart } from "react-icons/io5";

const { product } = Astro.props;

const precio = formatPesosArgentinos(
  calcularPrecioConGanancia(
    product.price * product.cotizacion * (1 + product.iva / 100)
  )
);

const proveedorIt = product.proveedorIt ?? "Proveedor no disponible";
const imageUrl = product.mainImage;
/* product.weightAverage = product.weightAverage ?? 0;
product.highAverage = product.highAverage ?? 0;
product.widthAverage = product.widthAverage ?? 0;
product.lengthAverage = product.lengthAverage ?? 0; */
---

<div
  class="relative flex flex-col bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden"
>
  <div>
    <!-- STOCK LABEL -->
    <div class="absolute top-4 right-0 z-2 flex flex-col items-end space-y-1">
      <span
        class="bg-green-600 text-white text-xs md:text-sm px-2 py-1 rounded-l-md"
      >
        EN STOCK
      </span>
    </div>

    <!-- IMAGE -->
    <a href={`/producto/${product.slug}`} class="mb-4">
      <img
        src={imageUrl}
        alt={product.title}
        width="400"
        height="400"
        class="w-full h-48 md:h-64 object-contain"
        loading="lazy"
        decoding="async"
      />
    </a>
  </div>
  <div class="p-4 md:p-6">
    <p class="text-gray-300 text-[0.75rem] mb-1 uppercase">
      COD. {
        `${product.proveedorIt.slice(0, 2).toUpperCase()}-${product.externalId}`
      }
    </p>
    <p class="text-sm text-azulCompumatix font-medium mb-1 uppercase">
      {product.category.name}
    </p>

    <!-- TITLE -->

    <h3
      class="text-base md:text-lg font-semibold text-gray-800 leading-5 mb-2 line-clamp-3 h-[3.5rem] uppercase"
    >
      {product.title}
    </h3>

    <!-- PRICE -->
    <p class="text-xl font-bold text-gray-900 mb-2">
      {precio}
    </p>

    <!-- CTA -->
    <a
      href={`/producto/${product.slug}`}
      class="mt-4 flex items-center justify-center gap-2 bg-azulCompumatix text-white text-sm font-semibold px-4 py-2 rounded-md hover:bg-azulCompumatix/90 transition-colors"
    >
      <IoCart size={20} />
      Ver producto
    </a>
  </div>
</div>
