---
//ProudctItem.astro

import { calcularPrecioConGanancia } from "@/utils/calcularGanancia";
import { formatPesosArgentinos } from "@/utils/formatcurrency";
import { Image } from "astro:assets";
import AddToCart from "./AddToCart";
import { IoCart } from "react-icons/io5";
import { stringify } from "querystring";

const { product } = Astro.props;

const precioNB = formatPesosArgentinos(
  calcularPrecioConGanancia(product.finalPrice * product.cotizacion)
);
const proveedorIt = product.proveedorIt ?? "Proveedor no disponible";

const precio = formatPesosArgentinos(
  calcularPrecioConGanancia(
    product.price * product.cotizacion * (1 + product.iva / 100)
  )
);

//console.log("IVA: ", product);

const imageUrl = product.mainImage;
product.weightAverage = product.weightAverage ?? 0;
product.highAverage = product.highAverage ?? 0;
product.widthAverage = product.widthAverage ?? 0;
product.lengthAverage = product.lengthAverage ?? 0;
---

<dic
  class="relative border p-2 flex flex-col bg-white py-4 md:py-6 md:px-3 rounded overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out"
>
  <div class="flex flex-col absolute right-0 top-4 z-[1] items-end">
    <span
      class="text-[0.75rem] md:text-sm px-2 py-1 bg-green-600 text-white rounded-l-sm"
      >EN STOCK</span
    >
    <!-- <span
      class:list={{
        "bg-green-600 text-white": product.stock === "Alto",
        "bg-orange-500 text-white": product.stock === "Medio",
        "bg-red-600 text-white": product.stock === "Bajo",
      }}
      class="px-3 py-1 text-[0.62rem] md:text-[0.75rem] w-fit uppercase"
    >
      {product.stock}
    </span> -->
  </div>
  <div transition:name={`product-${product.id}-img`}>
    <a href={`/producto/${product.slug}`}>
      <img
        src={product.mainImage}
        sizes="(max-width: 640px) 150px, 400px"
        alt={product.title}
        width="400"
        height="400"
        class="w-full h-48 md:h-64 object-contain"
        loading="lazy"
        decoding="async"
      /></a
    >
  </div>
  <div class="text-gray-400">
    <p class="text-azulCompumatix rounded-full my-2 text-sm w-fit">
      {product.category.name}
    </p>
  </div>

  <h3
    class="text-[0.85rem] md:text-[1rem] leading-4 min-h-16"
    transition:name={`title-${product.title}`}
  >
    {product.title}
  </h3>
  <p class="text-xl my-3">{precio}</p>
  <!-- <p class="text-xl my-3">{product.price * product.cotizacion}</p> -->
  <p class="text-xl my-3">{product.proveedorIt}</p>
  <p class="text-xl my-3">{product.amountStock}</p>
  <p class="text-xl my-3">{product.externalId}</p>
  <!-- <AddToCart
    product={{
      ...product,
      finalPrice: product.finalPrice?.toNumber() ?? 0,
      weight: product.weightAverage,
      height: product.highAverage,
      width: product.widthAverage,
      length: product.lengthAverage,
      cotizacion: product.cotizacion?.toNumber() ?? 0,
    }}
    client:load
  /> -->
  <a
    href={`/producto/${product.slug}`}
    class="bg-azulCompumatix rounded-md flex items-center justify-center p-3 text-white font-bold text-sm mt-2 hover:bg-azulCompumatix/80 transition-colors duration-300 ease-in-out"
    class="bg-azulCompumatix rounded-md flex items-center justify-center p-3 text-white font-bold text-sm mt-2 hover:bg-azulCompumatix/80 transition-colors duration-300 ease-in-out"
    ><IoCart color="white" size={22} /></a
  >
</dic>
